language: generic
sudo: required
services:
  -docker
before_install:
  -docker build -t sonusarojan/docker-react -f Dockerfile.dev .
script:
  - docker run -e CI=true sonusarojan/docker-react npm run test
